@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Overpass:wght@400;700&display=swap');

:root {
    --clr-orange: hsl(25, 97%, 53%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(217, 12%, 63%);
    --clr-gray:  hsl(216, 12%, 54%);
    --clr-blue: hsl(213, 19%, 18%);
    --clr-dark-blue: hsl(216, 12%, 8%);
    --clr-gradient: linear-gradient(to bottom, hsl(215, 20%, 17%), hsl(215, 24%, 12%));
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


body,
h1,
p{
  margin: unset;
}




html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  display: grid;
  place-items: center;
  min-block-size: 100vh;
  background-color: var(--clr-dark-blue);
  font: 15px/1.6 Overpass, sans-serif;
}



img{
  max-width: 100%;
  display: block;
}

input,
button{
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.text-center{
    text-align: center;
}




h1{
    color: var(--clr-white);
    font-size: 28px;
    line-height: 1.25;
    margin-bottom: 0.4375rem;
}

p{
    color: var(--clr-light-gray);
}

main{
    background-image: var(--clr-gradient);
    max-width: 25.75rem;
    width: 100%;
    border-radius: 1.875rem;
    padding: 2rem;
}

.logo{
    --size: 3rem;
    background-color: var(--clr-blue);
    width: var(--size);
    height: var(--size);
    padding: 1rem;
    border-radius: var(--size);
    margin-bottom: 1.875rem;
}


.button{
    background-color: var(--clr-orange);
    border: unset;
    color: var(--clr-white);
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    height: 45px;
    border-radius: 45px;
    width: 100%;
    cursor: pointer;
    appearance: none;
    transition: background-color 0.15s linear, color 0.15s linear;
}

button:is(:hover, :focus-visible) {
    background-color: var(--clr-white);
    color: var(--clr-orange);
    outline: none;
}

.rating-group {
    display: flex;
    justify-content: space-between;
    margin-block: 1.5rem 2rem;

}

.radio-input .control{
    display: block;
    background-color: var(--clr-blue);
    color: var(--clr-gray);
    width: 51px;
    border-radius: 51px;
    text-align: center;
    line-height: 51px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.radio-input input:checked + .control{
    background-color: var(--clr-gray);
    color: var(--clr-white);
}

.radio-input:hover .control,
.radio-input input:focus + .control{
    background-color: var(--clr-orange);
    color: var(--clr-white);
    transition: background-color 0.15s linear,color 0.15s linear;
}

.rating-result{
    background-color: var(--clr-blue);
    color: var(--clr-orange);
    height: 2rem;
    border-radius: 2rem;
    line-height: 2rem;
    width: max-content;
    margin-inline: auto;
    padding-inline: 1.25rem;
    margin-block: 2rem;
}

.illustration{
    margin-inline: auto;
}